//  style-guider-demo Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Card
//  15. Close Button
//  16. Drilldown
//  17. Dropdown
//  18. Dropdown Menu
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Meter
//  24. Off-canvas
//  25. Orbit
//  26. Pagination
//  27. Progress Bar
//  28. Responsive Embed
//  29. Reveal
//  30. Slider
//  31. Switch
//  32. Table
//  33. Tabs
//  34. Thumbnail
//  35. Title Bar
//  36. Tooltip
//  37. Top Bar


// Brand colours, fonts and other rules
// ------------------------------------

// Main brand red - medium candy apple
$red: #992c0e;

// Main brand blue - dark midnight
$blue: #2e7cac;

// Main brand grey - jumbo
$grey: #7b7e84;

// Secondary brand colours
// -----------------------

$claret: #6b1c30;
$flame: #e75113;
$carrot: #f08800;
$buttercup: #e09900;
$sunglow: #ffd600;

$malibu: #69b9e3;
$bermuda: #8bcbc3;
$java: #009893;
$verdun: #3c581a;

$dark-grey: #35362f;

// Fonts - Helvetica falls back to Arial
// -------------------------------------
$opensans: 'Open Sans', Helvetica, Arial, sans-serif;
$varela: 'Varela+Round', Arial, sans-serif;

// DEMO Settings
// ------------

$img-path: 'node_modules/style-guider-demo/img/' !default;

// Header logo (Can be left or right)
// $header-logo-side: left; // Doesn't work yet

$faint-gray: #eeeff0;
$faint-border: 2px solid $faint-gray;

$shadow-gray: rgba(204, 204, 204, .4);

$lighter-blue: #94caeb;
$light-blue: #3999d4;
$dark-blue: #236085;
$darker-blue: #184059;

@import 'util/util';

// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.6;
$foundation-palette: (
  primary: $blue,
  secondary: $red,
  success: $java,
  warning: $sunglow,
  alert: $flame,
);
$lighter-gray: #bfbfbf;
$light-gray: $grey;
$medium-gray: #666;
$dark-gray: $dark-grey;
$black: #0a0a0a;
$white: #fefefe;
$body-background: $white;
$body-font-color: #474747;
$body-font-family: $opensans;
$body-antialiased: true;
$global-margin: 1.6rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;

$trans-white: rgba($white, .66);
$gray-shadow: rgba($light-gray, .5);

@include add-foundation-colors;

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 600px,
  large: 900px,
  xlarge: 1200px,
  xxlarge: 1800px,
);
$breakpoint-classes: (small medium large);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
  large: 40px,
);
$grid-column-align-edge: true;
$block-grid-max: 8;

// 4. Base Typography
// ------------------

$header-font-family: $varela;
$header-font-weight: 300;
$header-font-style: normal;
$font-family-monospace: 'Hack', Consolas, 'Liberation Mono', Courier, monospace;
$header-styles: (
  small: (
    'h1': ('font-size': 28),
    'h2': ('font-size': 24),
    'h3': ('font-size': 22),
    'h4': ('font-size': 20),
    'h5': ('font-size': 19),
    'h6': ('font-size': 18),
  ),
  medium: (
    'h1': ('font-size': 36),
    'h2': ('font-size': 30),
    'h3': ('font-size': 24),
    'h4': ('font-size': 20),
    'h5': ('font-size': 18),
    'h6': ('font-size': 16),
  ),
);
$header-color: $blue;
$header-lineheight: 1.3;
$header-margin-bottom: 1.6rem;
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;
$paragraph-lineheight: 1.6;
$paragraph-margin-bottom: 1.6rem;
$paragraph-text-rendering: optimizeLegibility;
$code-color: $dark-gray;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $faint-gray;
$code-border: 1px solid $lighter-gray;
$code-padding: rem-calc(1 4 1);
$anchor-color: $red;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $faint-gray;
$hr-margin: 3.2rem auto 1.6rem;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: rem-calc(30);
$list-nested-side-margin: 1.25rem;
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: 300;
$defnlist-term-margin-bottom: .3rem;
$blockquote-color: $medium-gray;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $lighter-gray;
$cite-font-size: rem-calc(13);
$cite-color: $medium-gray;
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

// 5. Typography Helpers
// ---------------------

$lead-font-size: $global-font-size * 1.25;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: .2rem;
$subheader-margin-bottom: .5rem;
$stat-font-size: 2.5rem;

// 6. Abide
// --------

$abide-inputs: true;
$abide-labels: true;
$input-background-invalid: map-get($foundation-palette, alert);
$form-label-color-invalid: map-get($foundation-palette, alert);
$input-error-color: map-get($foundation-palette, alert);
$input-error-font-size: rem-calc(12);
$input-error-font-weight: $global-weight-bold;

// 7. Accordion
// ------------

$accordion-background: $white;
$accordion-plusminus: true;
$accordion-item-color: foreground($accordion-background, $primary-color);
$accordion-item-background-hover: $light-gray;
$accordion-item-padding: 1.25rem 1rem;
$accordion-content-background: $white;
$accordion-content-border: 1px solid $light-gray;
$accordion-content-color: foreground($accordion-background, $primary-color);
$accordion-content-padding: 1rem;

// 8. Accordion Menu
// -----------------

$accordionmenu-arrows: true;
$accordionmenu-arrow-color: $primary-color;

// 9. Badge
// --------

$badge-background: $primary-color;
$badge-color: foreground($badge-background);
$badge-padding: .3em;
$badge-minwidth: 2.1em;
$badge-font-size: .6rem;

// 10. Breadcrumbs
// ---------------

$breadcrumbs-margin: 0 0 $global-margin 0;
$breadcrumbs-item-font-size: rem-calc(12);
$breadcrumbs-item-color: $primary-color;
$breadcrumbs-item-color-current: $dark-gray;
$breadcrumbs-item-color-disabled: $medium-gray;
$breadcrumbs-item-margin: .75rem;
$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-slash: true;

// 11. Button
// ----------

$button-padding: .85em 1em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: $white;
$button-color-alt: $black;
$button-radius: $global-radius;
$button-sizes: (
  tiny: .6rem,
  small: .75rem,
  default: .9rem,
  large: 1.25rem,
);
$button-opacity-disabled: .25;

// 12. Button Group
// ----------------

$buttongroup-margin: 1rem;
$buttongroup-spacing: 1px;
$buttongroup-child-selector: '.button';
$buttongroup-expand-max: 6;

// 13. Callout
// -----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-border: 1px solid rgba($black, .25);
$callout-margin: 0 0 1.6rem 0;
$callout-padding: 1rem;
$callout-font-color: $body-font-color;
$callout-font-color-alt: $body-background;
$callout-radius: $global-radius;
$callout-link-tint: 30%;

// 14. Close Button
// ----------------

$closebutton-position: right top;
$closebutton-offset-horizontal: 1rem;
$closebutton-offset-vertical: .5rem;
$closebutton-size: 2em;
$closebutton-lineheight: 1;
$closebutton-color: $dark-gray;
$closebutton-color-hover: $black;

// 15. Drilldown
// -------------

$drilldown-transition: transform .15s linear;
$drilldown-arrows: true;
$drilldown-arrow-color: $primary-color;
$drilldown-background: $white;

// 16. Dropdown
// ------------

$dropdown-padding: 1rem;
$dropdown-border: 1px solid $medium-gray;
$dropdown-font-size: 1rem;
$dropdown-width: 300px;
$dropdown-radius: $global-radius;
$dropdown-sizes: (
  tiny: 100px,
  small: 200px,
  large: 400px,
);

// 17. Dropdown Menu
// -----------------

$dropdownmenu-arrows: true;
$dropdownmenu-arrow-color: $anchor-color;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: $white;
$dropdownmenu-border: 1px solid $medium-gray;

// 18. Flex Video
// --------------

$flexvideo-margin-bottom: rem-calc(16);
$flexvideo-ratio: 4 by 3;
$flexvideo-ratio-widescreen: 16 by 9;

// 19. Forms
// ---------

$fieldset-border: 1px solid $medium-gray;
$fieldset-padding: rem-calc(20);
$fieldset-margin: rem-calc(18 0);
$legend-padding: rem-calc(0 3);
$form-spacing: rem-calc(16);
$helptext-color: $black;
$helptext-font-size: rem-calc(13);
$helptext-font-style: italic;
$input-prefix-color: $black;
$input-prefix-background: $light-gray;
$input-prefix-border: 1px solid $medium-gray;
$input-prefix-padding: 1rem;
$form-label-color: $dark-gray;
$form-label-font-size: rem-calc(16);
$form-label-font-weight: $global-weight-normal;
$form-label-line-height: 1.8;
$select-background: $white;
$select-triangle-color: $dark-gray;
$select-radius: $global-radius;
$input-color: $black;
$input-placeholder-color: $light-gray;
$input-font-family: inherit;
$input-font-size: rem-calc(16);
$input-background: scale-color($white, $lightness: -1%);
$input-background-focus: $white;
$input-background-disabled: scale-color($lighter-gray, $lightness: 15%);
$input-border: 1px solid $lighter-gray;
$input-border-focus: 1px solid $light-gray;
$input-shadow: inset 0 1px 2px rgba($dark-gray, .1);
$input-shadow-focus: 0 0 5px rgba($medium-gray, .3);
$input-cursor-disabled: default;
$input-transition: box-shadow .5s, border-color .25s ease-in-out;
$input-number-spinners: true;
$input-radius: $global-radius;

// 20. Label
// ---------

$label-background: $primary-color;
$label-color: foreground($label-background);
$label-font-size: .8rem;
$label-padding: .33333rem .5rem;
$label-radius: $global-radius;

// 21. Media Object
// ----------------

$mediaobject-margin-bottom: $global-margin;
$mediaobject-section-padding: $global-padding;
$mediaobject-image-width-stacked: 100%;

// 22. Menu
// --------

$menu-margin: 0;
$menu-margin-nested: 1rem;
$menu-item-padding: .7rem 1rem;
$menu-item-color-active: $white;
$menu-item-background-active: map-get($foundation-palette, primary);
$menu-icon-spacing: .25rem;

// 23. Meter
// ---------

$meter-height: 1rem;
$meter-radius: $global-radius;
$meter-background: $medium-gray;
$meter-fill-good: $success-color;
$meter-fill-medium: $warning-color;
$meter-fill-bad: $alert-color;

// 24. Off-canvas
// --------------

$offcanvas-size: 250px;
$offcanvas-background: $light-gray;
$offcanvas-zindex: -1;
$offcanvas-transition-length: .5s;
$offcanvas-transition-timing: ease;
$offcanvas-fixed-reveal: true;
$offcanvas-exit-background: rgba($white, .25);
$maincontent-class: 'off-canvas-content';
$maincontent-shadow: 0 0 10px rgba($black, .5);

// 25. Orbit
// ---------

$orbit-bullet-background: $medium-gray;
$orbit-bullet-background-active: $dark-gray;
$orbit-bullet-diameter: 1.2rem;
$orbit-bullet-margin: .1rem;
$orbit-bullet-margin-top: .8rem;
$orbit-bullet-margin-bottom: .8rem;
$orbit-caption-background: rgba($black, .5);
$orbit-caption-padding: 1rem;
$orbit-control-background-hover: rgba($black, .5);
$orbit-control-padding: 1rem;
$orbit-control-zindex: 10;

// 26. Pagination
// --------------

$pagination-font-size: rem-calc(15);
$pagination-margin-bottom: $global-margin;
$pagination-item-color: $dark-gray;
$pagination-item-padding: rem-calc(3 10);
$pagination-item-spacing: rem-calc(1);
$pagination-radius: $global-radius;
$pagination-item-background-hover: none;
$pagination-item-background-current: #2b5582;
$pagination-item-color-current: $white;
$pagination-item-color-disabled: $lighter-gray;
$pagination-ellipsis-color: $black;
$pagination-mobile-items: false;
$pagination-mobile-current-item: true;
$pagination-arrows: true;

// 27. Progress Bar
// ----------------

$progress-height: 1.25rem;
$progress-background: $lighter-gray;
$progress-margin-bottom: $global-margin;
$progress-meter-background: $primary-color;
$progress-radius: $global-radius;

// 28. Reveal
// ----------

$reveal-background: $white;
$reveal-width: 600px;
$reveal-max-width: $global-width;
$reveal-padding: $global-padding;
$reveal-border: 1px solid $medium-gray;
$reveal-radius: $global-radius;
$reveal-zindex: 1005;
$reveal-overlay-background: rgba($black, .45);

// 29. Slider
// ----------

$slider-width-vertical: .5rem;
$slider-transition: all .2s ease-in-out;
$slider-height: .5rem;
$slider-background: $light-gray;
$slider-fill-background: $medium-gray;
$slider-handle-height: 1.4rem;
$slider-handle-width: 1.4rem;
$slider-handle-background: $primary-color;
$slider-opacity-disabled: .25;
$slider-radius: $global-radius;

// 30. Switch
// ----------

$switch-background: $medium-gray;
$switch-background-active: $primary-color;
$switch-height: 2rem;
$switch-height-tiny: 1.5rem;
$switch-height-small: 1.75rem;
$switch-height-large: 2.5rem;
$switch-radius: $global-radius;
$switch-margin: $global-margin;
$switch-paddle-background: $white;
$switch-paddle-offset: .25rem;
$switch-paddle-radius: $global-radius;
$switch-paddle-transition: all .25s ease-out;

// 31. Table
// ---------

$table-background: $white;
$table-color-scale: 5%;
$table-border: 1px solid smart-scale($table-background, $table-color-scale);
$table-padding: rem-calc(8 10 10);
$table-hover-scale: 2%;
$table-row-hover: darken($table-background, $table-hover-scale);
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale);
$table-striped-background: smart-scale($table-background, $table-color-scale);
$table-stripe: even;
$table-head-background: smart-scale($table-background, $table-color-scale / 2);
$table-foot-background: smart-scale($table-background, $table-color-scale);
$table-head-font-color: $body-font-color;
$show-header-for-stacked: false;

// 32. Tabs
// --------

$tab-margin: 0;
$tab-background: $white;
$tab-background-active: $light-gray;
$tab-item-font-size: rem-calc(12);
$tab-item-background-hover: $white;
$tab-item-padding: 1.25rem 1.5rem;
$tab-expand-max: 6;
$tab-content-background: $white;
$tab-content-border: $light-gray;
$tab-content-color: foreground($tab-background, $primary-color);
$tab-content-padding: 1rem;

// 33. Thumbnail
// -------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, .2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, .5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 34. Title Bar
// -------------

$titlebar-background: $black;
$titlebar-color: $white;
$titlebar-padding: .5rem;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: $white;
$titlebar-icon-color-hover: $medium-gray;
$titlebar-icon-spacing: .25rem;

// 35. Tooltip
// -----------

$has-tip-font-weight: $global-weight-bold;
$has-tip-border-bottom: dotted 1px $dark-gray;
$tooltip-background-color: $black;
$tooltip-color: $white;
$tooltip-padding: .75rem;
$tooltip-font-size: $small-font-size;
$tooltip-pip-width: .75rem;
$tooltip-pip-height: $tooltip-pip-width * .866;
$tooltip-radius: $global-radius;

// 36. Top Bar
// -----------

$topbar-padding: .5rem;
$topbar-background: $light-gray;
$topbar-submenu-background: $topbar-background;
$topbar-title-spacing: 1rem;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;
