@mixin style-guider-demo-animation {
  .loading {

    position: relative;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $trans-white;
      background-image: url(#{$img-path}loading.gif);
      background-repeat: no-repeat;
      background-position: center top 30%;
      content: '';
      z-index: 10;
    }

    &.blackout::before {
      background-color: $white;
    }
  }
}
