@mixin style-guider-demo-tabs {

  .tabs {
    @extend %clearfix;
    margin-bottom: 1.6rem;

    .active a:focus {
      outline: none;
    }

    > ul {
      @extend %clearfix;
      width: 100%;
      margin: 0;
      border-bottom: 1px solid $lighter-gray;
      list-style: none;

      a:focus {
        text-shadow: none;
      }

      li {
        @include rprop('padding', rem-calc(3 8), rem-calc(4 10), rem-calc(5 12));
        display: inline-block;
        position: relative;
        bottom: 0;
        margin-top: rem-calc(6);
        margin-right: -1px;
        float: left;
        border: 1px solid $lighter-gray;
        border-bottom: 0;
        background-color: $faint-gray;
      }

      .active {
        @include rprop('padding', rem-calc(6 14 4), rem-calc(7 16 5), rem-calc(9 18 5));
        position: relative;
        bottom: -3px;
        margin-top: 0;
        border-bottom: 1px solid $white;
        background-color: $white;
      }

      a {
        display: block;
        color: $blue;
      }
    }

    .panel {
      @include grid-column(12);
      display: none;
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(40);
      border: 1px solid $lighter-gray;
      border-top-width: 0;

      &.active {
        display: block;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  .no-js {
    .tabs > ul {
      margin-bottom: rem-calc(16);
      border-bottom-width: 0;
    }

    .tabs li {
      border: 1px solid $lighter-gray;
    }

    .panel {
      display: block;
      margin-bottom: rem-calc(16);
      border-top-width: 1px;
    }
  }

}
